@font-face {
    font-family: simplifica;
    src: url(../FONTS/SIMPLIFICA\ Typeface.ttf);
}
@font-face {
    font-family: adelaide;
    src: url(../FONTS/Adelaide-Bold.otf);
}

:root {
    --cor1: #f28705;
    --cor2: #591902;
    --cor3: #f1d414;
    --cor4: #8d7c6c;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #fff;
    overflow-x: hidden;
}

.h2-principal  {
    font-family: adelaide;
    text-transform: uppercase;
    padding: 8%;
    font-size: 13vmin;
    text-align: center;
}

.p-principal {
    font-family: adelaide;
    text-align: center;
    font-size: 6vmin;
    font-weight: 900;
}
