@media (max-width: 750px) {
/* Cabeçalho */
    .menu-mb:hover {
        transition: 0.2s ease;
        border-radius: 5px;
        background-color: #ffffff6c ;
    }

    header.sticky {
        padding: 0;
    }

    header .logo {
        font-size: 6vw;
    }

    header nav {
        justify-content: space-around;
        height: 10vmax;
    }

    header #bnt {   
        text-align: center;
        align-items: center;
        position: absolute;
        top: 60px;
        width: 90%;

        border-radius: 5px;
        color: var(--cor2);
    }

    header .menu-mb {
        display: block;
        z-index: 999;
    }

    header .nav-list.active {
        right: -100%;
     }
    
    header .nav-list {
        z-index: 998;
        box-shadow: -7px 6px 12px rgba(0, 0, 0, 0.288);
        background-color: var(--cor1);

        position: fixed;
        top: 0;
        right: 0;

        height: 100vh;
        width: 100%;
        max-width: 200px;
        text-align: center;

        padding: 50px 20px;

        flex-direction: column;
        transition: 0.5s ease;
    }
    
    header .nav-list li {
        padding: 20px;
        margin: 0;
    }
/* //Cabeçalho */

/* Bloco-1 */

#bloco-1 {
    display: flex;
    flex-direction: column;
}

#bloco-1 .lado-d {
    order: 1;
    width: 100%;
    height: 101%;
}

#bloco-1 .lado-e {
    order: 2;
    width: 100%;
    
}

#bloco-1 .lado-e h2 {
    display: none;
}

#bloco-1 .lado-e .txt-r {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 10vw;
    margin-top: 3%;
}

.redes {
    margin-top: 25px;
}

.redes .i-redes {
    height: 4vw;
}

.redes h3 {
    color: white;
    font-size: 4vw;
    
}

.orcamento-txt {
    margin-bottom: 5% ;
    padding-left: 3px;
    margin-top: 5px;
    font-size: 7vw;
}

#seta {
   width: 7vw;
   margin-bottom: 10%;
}
/* //Bloco-1 */

/* Bloco-2 */
#bloco-2 .text-decor {
    font-family: simplifica;
    font-weight: 900;
}
/* //Bloco-2 */

/* Roda pé */

#roda-pe footer {
    display: block;
    justify-content: space-between;
}

#roda-pe .b-1 div {
    padding: 4%;
    align-items: center;
    display: flex;
}

#roda-pe .b-2 div {
    padding: 4%;
    align-items: center;
    display: flex;
}

#roda-pe .txt-title {
    color: white;
    font-size: 5vmin;
}

#roda-pe .icon-rp {
    justify-content: center;
    width: 5vmin;
}

.container-galeria {
    margin: 3% 7%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container-bnt {
    visibility: visible;
}


/* //Roda pé */

}