
a {
    color: #fff;
    text-decoration: none;
}
/* Cabeçalho */
header {
    transition: 0.4s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

header.sticky {
    background-color: var(--cor1);
    padding: 5px 0;
    box-shadow: 5px 0px 10px black;
}


header .menu-mb{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    display: none  ;
    padding: 7px;
    
}

header .logo {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header .nav-list{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 20px;
}

.nav-list li a {
    padding: 20px 0;
}

.nav-list li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--cor2);
    margin: auto;
    margin-top: 10px;
    display: block;
}

.nav-list li a:hover::after {
   width: 100%;
   transition: width 0.2s linear;
}

.nav-list li a:hover {
    color: var(--cor2);
}

header .bnt {
    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    text-transform: uppercase;
    background-color: white;
    padding: 14px 17px ;
    border-radius: 5px;
    color: var(--cor2);
}
/* //Cabeçalho */

/* conteudo lado esquerdo */

#bloco-1 {
    width: 100%;
    display: flex;
}

#bloco-1 .lado-d {
    position: relative;
    width: 50%;
    display: inline-block;
    background-color: var(--cor1);
}

#bloco-1 .lado-e {
    width: 50%;
    display: inline-block;
    background-color: var(--cor1);
}

#bloco-1 .lado-d img {
    width: 100%;
    height: 100%;

}

.container-bnt {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding-bottom: 23px;
}

.bnt-projeto {
    position: relative;
    color: var(--cor2);
    border-radius: 5px;
    background-color: white;
    font-family: simplifica;
    padding: 5px 20px;
    font-size: 1.3em;
    font-weight: 100;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.473);
}

.bnt-projeto:hover {
    background-color: var(--cor1);
    color: white;
}

#bloco-1 .lado-e .txt-r {
    display: none;
}

#bloco-1 .lado-e h2 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    font-family: simplifica, sans-serif;
    font-weight: 100;
    text-align: end;
    color: white;
    font-size: 7vw;
    margin-top: 13%;
    margin-bottom: 13%;
}

/* conteudo lado esquerdo */

/* textos lado esquerdo */

.redes {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    height: auto;
}

.redes .i-redes {
    height: 2vw;
    padding-left: 3px;
}

.redes h3 {
    padding-left: 7px;
    color: white;
    font-size: 2vw;
    
}

.orcamento-txt {
    color: #fff;
    font-family: simplifica;
    margin-left: 5vw;
    margin-bottom: 3% ;
    padding-left: 3px;
    margin-top: 15px;
    font-size: 3vw;
    font-weight: 100;
}


/* //textos lado esquerdo */

/* Bloco-2 */
/* Exposiçã-1 */

#bloco-2 {
    background-color: white;
    
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
   
}

#bloco-2 img {
    display: block;
    width: 50vw;
    z-index: 3;
}

#bloco-2 .e-bord {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    width: 70vw;
    position: absolute ;
    left: -1%;
    z-index: 2;
}

#bloco-2 .e-bord-2 {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    position: absolute;
    align-self: flex-end;
    margin-top: 17%;
    width: 39vw;
    left: 47%;
    align-items: center;
    z-index: 1;
}

#bloco-2 .text-decor {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
    font-family: adelaide;
    color: var(--cor3);
    position: absolute;
    left: 72%;
    align-self: flex-start;
    text-align: center;
    font-size: 4vw;
    line-height: 90%;
}

#bloco-2 .bnt-cat {
    position: relative;
    text-align: center;
    margin-top: 4vmax;
    z-index: 4;
}

#bloco-2 .bnt-cat a {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    font-family: simplifica;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 4vmin;
    padding: 4vmin 6vmin;
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor2);
}

/* //Exposição-1 */
/* Exposição-2 */

#ex-2 .container {
    margin-top: 25%;
    justify-content: flex-end;
}
#ex-2 img {
    display: block;
    width: 50vw;
    z-index: 3;
}

#ex-2 .e-bord {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    width: 70vw;
    position: absolute ;
    left: 30%;
    z-index: 2;
}

#ex-2 .e-bord-2 {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    position: absolute;
    margin-top: 16%;
    width: 39vw;
    left: 13%;
    align-items: center;
    z-index: 1;
}

#ex-2 .text-decor {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
    font-family: adelaide;
    color: var(--cor4);
    position: absolute;
    left: 26%;
    align-self: flex-start;
    text-align: center;
    font-size: 4vw;
    line-height: 90%;
}

#ex-2 .bnt-cat {
    position: relative;
    text-align: center;
    margin-top: 4vmax;
    z-index: 4;
}

#ex-2 .bnt-cat a {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    font-family: simplifica;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 4vmin;
    padding: 4vmin 6vmin;
    border-radius: 5px;
    background-color: var(--cor4);
    color: white;
}

/* //Exposição-2 */
/* //Bloco-2 */

/* Bloco-3 */

#bloco-3 {
    background-color: #fff;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#bloco-3 .h2-principal {
    padding-bottom: 0;
}

.modal {
    top: 0;
    width: 100%;
    height: 101vh;
    position: fixed;
    background-color: #000000b6;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear, 0.3s linear;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.bnt-close {
    align-items: flex-end;
    align-items: flex-start;
    padding-left: 1%;
}

.bnt-close img {
    cursor: pointer;
    width: 25px;
}

.pop-up {
    border-radius: 10px;
    background-color: white;
    width: auto;
    margin: 0 5%;
    height: 90%;
    display: flex;
    padding: 2%;
    justify-content: space-around;
}

.img-modal {
    position: relative;
    text-align: stretch;
    max-width: 90%;
    border-radius: 5px;
    object-fit: scale-down;
    background-color: rgb(223, 223, 223);
}

.b-titulo {
    font-size: 2em;
    padding-left: 2%;
    padding-right: 15%;
}

.b-titulo h2{
    font-family: simplifica;
    font-weight: 900;
    color: var(--cor2);
}

.b-titulo p {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 3vmin;
    color: var(--cor2);
}

.container-modal {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-galeria {
    margin: 3% 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.b-foto {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 3px 15px #3810019c;
    padding: 15px 15px 40px;
    transition: 0.3s;

}

.b-foto:hover {
    transform: scale(1.05);
    background-color: var(--cor1);
}

.foto {
    border-radius: 5px;
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.caption h2 {
    font-family: simplifica;
    font-weight: 900;
    color: var(--cor2);
    font-size: 2em;
}

.caption p {
    font-size: 1.2em;
    font-family: simplifica;
    font-weight: 900;
    color: black;
}

.b-foto:hover h2 {
    color: white;
}
/* //Bloco-3 */

/* Roda pé */

#roda-pe {
    background-color: #292929;
    padding: 0 10%;
}

#roda-pe footer {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

#roda-pe .b-3 div, .b-2 div, .b-1 div {
    align-items: center;
    display: flex;
}
#roda-pe .txt-title {
    font-family: simplifica;
    font-weight: 100;
    color: white;
    font-size: 3vmax;
    white-space: nowrap;
}

#roda-pe .icon-rp {
    margin: 0 2%;
    width: 3vmax;
}


/* //Roda pé */




