
a {
    color: #fff;
    text-decoration: none;
}
/* Cabeçalho */
header {
    background-image: linear-gradient(to top, #ffffff00 30%, var(--cor1) );
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}


header .menu-mb{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.384));
    display: none  ;
    padding: 7px;
}

header .logo {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header .nav-list{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 20px;
}

.nav-list li a {
    padding: 20px 0;
}

.nav-list li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--cor2);
    margin: auto;
    margin-top: 10px;
    display: block;
}

.nav-list li a:hover::after {
   width: 100%;
   transition: width 0.2s linear;
}

.nav-list li a:hover {
    color: var(--cor2);
}

header .bnt {
    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    text-transform: uppercase;
    background-color: white;
    padding: 14px 17px ;
    border-radius: 5px;
    color: var(--cor2);
}
/* //Cabeçalho */

#bloco-1 {
    width: 100%;
    display: flex;
}

#bloco-1 .lado-d {
    width: 50%;
    display: inline-block;
}

#bloco-1 .lado-e {
    width: 50%;
    display: inline-block;
}

#bloco-1 .lado-d img {
    width: 100%;
    height: auto;

}

#bloco-1 .lado-e h2 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    font-family: simplifica, sans-serif;
    text-align: end;
    color: white;
    font-size: 7vw;
    margin-top: 13%;
}

/* Redes */

.redes {
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    height: auto;
}

.redes .i-redes {
    height: 2vw;
    padding-left: 3px;
}

.redes h3 {
    padding-left: 7px;
    color: white;
    font-size: 2vw;
    
}

.orcamento-txt {
    color: #fff;
    font-family: simplifica;
    margin-left: 5vw;
    margin-bottom: 3% ;
    padding-left: 3px;
    margin-top: 15px;
    font-size: 3vw;
    font-weight: 100;
}

#seta {
    margin: auto;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}